<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ControllerAjax</servlet-name>
  	<display-name>ControllerAjax</display-name>
  	<description></description>
  	<servlet-class>com.william.Controladores.ControllerAjax</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControllerCombo</servlet-name>
  	<display-name>ControllerCombo</display-name>
  	<description></description>
  	<servlet-class>com.william.Controladores.ControllerCombo</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControllerAjax</servlet-name>
  	<url-pattern>/ControllerAjax</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerCombo</servlet-name>
  	<url-pattern>/ControllerCombo</url-pattern>
  </servlet-mapping>
</web-app>
